<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">
	<bean id="msgService" class="com.cheer.spring.helloword.MessageService"></bean>
	<bean id="msgPrinter" class="com.cheer.spring.helloword.MessagePrinter">
		<property name="msgService" ref="msgService"></property>
	</bean>

</beans>
