<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">
	<!-- 启用spring注解 -->
	<context:annotation-config></context:annotation-config>
	
	<!-- 扫描com.cheer.spring包（包含其子包）下所有带有注解的类（@Repository @Service @Component @Controller） -->
	<context:component-scan base-package="com.cheer.spring"></context:component-scan>

</beans>
